<span style="font-family: sans-serif;"><p><b>###NAME###</b><br />
<span style="font-size: smaller;">###TITLE###<br />ProVeg Nederland<br />
Telefoon ###PHONE###<br/>
###ADDITIONAL###</span><br />
###PVLOGO###</p>

<p style="font-size: smaller; font-style: italic;">Met blijdschap kondigt ProVeg de <b>New Food Conference</b> aan welke zal plaatsvinden <b>op 21 - 22 Maart, 2019, in Berlijn!</b> Centraal bij deze tweedaagse conferentie staan de onderwerpen ‘Plantaardige Proteïnen’  en ‘Gekweekt Vlees’. Hierbij zullen internationale stakeholders uit de voedingsindustrie samenkomen met starters, investeerders, sociaal- en natuurwetenschappers, maar ook met de media, politici en consumentenorganisaties. <b><a href="http://www.proveg.com/new-food-conference">Hier</a> kun je details over het programma vinden en <a href="https://shop.ticketpay.de/O9IGWF3X">je ticket kopen.</a></b></p>

<p style="font-size: smaller; color: #ABABAB">ProVeg Deutschland e.V.<br />
Genthiner Straße 48, 10785 Berlijn, Duitsland<br />
VR 32501 Amtsgericht Berlin</p>

<p><a href="https://nl.proveg.com/">nl.proveg.com</a> | <a href="https://provegincubator.com">provegincubator.com</a><br />
<a href="https://www.facebook.com/ProVegNL/">###FBICON###</a>
<a href="https://twitter.com/ProVegNL">###TWICON###</a>
<a href="https://www.instagram.com/proveg.nl/">###IGICON###</a>
<a href="https://www.linkedin.com/company/proveg-nederland/">###LIICON###</a>
<a href="https://proveg.com/nl/doe-een-gift/">###DONATEICON###</a></p>
</span>