<span style="font-family: sans-serif;"><p><b>###NAME###</b><br />
<span style="font-size: smaller;">###TITLE###<br />ProVeg United Kingdom<br />
Phone ###PHONE###<br/>
###ADDITIONAL###</span><br />
###PVLOGO###</p>

<p style="font-size: smaller; font-style: italic;">ProVeg is happy to announce the <b>New Food Conference from 21-22 March, 2019, in Berlin!</b> The two-day conference will cover the topics ‘Plant-Based Proteins’ and ‘Cultured Meat’, bringing together international stakeholders from the food industry, along with startups, investors, and social and natural scientists, as well as the media, politicians, and consumer organisations. <b>Please find <a href="http://www.proveg.com/new-food-conference">details of the program here</a> and get <a href="https://shop.ticketpay.de/O9IGWF3X">your ticket now</a></b>.</p>

<p style="font-size: smaller; color: #ABABAB">ProVeg Deutschland e.V.<br />
Genthiner Straße 48, 10785 Berlin, Germany<br />
VR 32501 Amtsgericht Berlin</p>

<p><a href="https://uk.proveg.com/">uk.proveg.com</a> | <a href="https://provegincubator.com">provegincubator.com</a><br />
<a href="https://www.facebook.com/ProVegUK/">###FBICON###</a>
<a href="https://twitter.com/ProVeg_UK">###TWICON###</a>
<a href="https://www.instagram.com/proveg.uk/">###IGICON###</a>
<a href="https://www.linkedin.com/company/proveg-uk/">###LIICON###</a>
<a href="https://proveg.com/ways-to-give/your-support-think-global-act-local/">###DONATEICON###</a></p>
</span>