<span style="font-family: sans-serif;"><p><b>###NAME###</b><br />
<span style="font-size: smaller;">###TITLE###<br />ProVeg España<br />
Teléfono ###PHONE###<br/>
###ADDITIONAL###</span><br />
###PVLOGO###</p>

<p style="font-size: smaller; font-style: italic;">ProVeg se complace en anunciar la <b> Nueva Conferencia Alimentaria del 21 al 22 de Marzo de 2019 en Berlín</b>. La conferencia, de dos días de duración, tratará los temas "proteínas vegetales" y "carne cultivada", y reunirá a diferentes actores internacionales de la industria alimentaria, así como a nuevas empresas, inversores y científicos, además de medios de comunicación, políticos y organizaciones de consumidores. <b>Puedes consultar <a href="http://www.proveg.com/new-food-conference">aquí</a> los detalles del programa y comprar ya tu <a href="https://shop.ticketpay.de/O9IGWF3X">entrada</a></b>.</p>

<p style="font-size: smaller; color: #ABABAB">ProVeg Deutschland e.V.<br />
Genthiner Straße 48, 10785 Berlín, Alemania<br />
VR 32501 Amtsgericht Berlin</p>

<p><a href="https://es.proveg.com/">es.proveg.com</a> | <a href="https://provegincubator.com">provegincubator.com</a><br />
<a href="https://www.facebook.com/ProVegES/">###FBICON###</a>
<a href="https://twitter.com/proveges">###TWICON###</a>
<a href="https://www.instagram.com/proveg.es/">###IGICON###</a>
<a href="https://de.linkedin.com/company/vegetarierbund-deutschland-e-v-vebu-">###LIICON###</a>
<a href="https://proveg.com/ways-to-give/your-support-think-global-act-local/">###DONATEICON###</a></p>
</span>