<span style="font-family: sans-serif;"><p><b>###NAME###</b> ###PRONOUN###<br />
<span style="font-size: smaller;">###TITLE###<br />ProVeg e.V.<br />
Telefon ###PHONE###<br/>
###ADDITIONAL###</span><br />
###Logo###proveg###</p>

<p style="font-size: smaller; font-style: italic;">Wir streben nach einer Welt, in der sich alle für genussvolles und gesundes Essen entscheiden, das gut für alle Menschen, Tiere und unsere Erde ist. ProVeg ist eine international führende Ernährungsorganisation. Unsere Mission: Den weltweiten Konsum tierischer Produkte bis zum Jahr 2040 um 50 % zu verringern. </p>

<p style="font-size: smaller; color: #ABABAB">ProVeg e.V.<br />
Genthiner Straße 48<br />
10785 Berlin, Deutschland<br />
VR 32501 Amtsgericht Berlin</p>

<p><a href="https://de.proveg.com">de.proveg.com</a> | <a href="https://provegincubator.com">provegincubator.com</a><br />
<span style="font-size: smaller;"><br /></span>
<a href="https://www.facebook.com/ProVegDE/">###Facebook###facebook###</a>
<a href="https://twitter.com/proveg_de?lang=de">###Twitter###twitter###</a>
<a href="https://www.instagram.com/proveg.de/?hl=de">###Instagram###instagram###</a>
<a href="https://www.linkedin.com/company/proveginternational">###LinkedIn###linkedin###</a>
<a href="https://proveg.com/de/spenden/">###Donate###donation###</a></p>
</span>