<span style="font-family: sans-serif;"><p><b>###NAME###</b><br />
<span style="font-size: smaller;">###TITLE###<br />ProVeg Deutschland e.V.<br />
Telefon ###PHONE###<br/>
###ADDITIONAL###</span><br />
###PVLOGO###</p>

<p style="font-size: smaller; font-style: italic;">ProVeg freut sich, die <b>New Food Conference am 21. und 22. März 2019 in Berlin</b> anzukündigen! Die zweitägige Konferenz wird die Themen »Pflanzliche Proteine« und »Kultiviertes Fleisch« behandeln. Sie bringt internationale Stakeholder aus Lebensmittelindustrie, Wissenschaft, Politik und Marktforschung mit Investorinnen und Investoren sowie mit Startups zusammen. <b><a href="http://www.proveg.com/new-food-conference">Details zum Programm</a>. Sichern Sie sich jetzt Ihr <a href="https://shop.ticketpay.de/O9IGWF3X">Ticket!</a></b></p>

<p style="font-size: smaller; color: #ABABAB">ProVeg Deutschland e.V.<br />
Genthiner Straße 48, 10785 Berlin, Deutschland<br />
VR 32501 Amtsgericht Berlin</p>

<p><a href="https://de.proveg.com">de.proveg.com</a> | <a href="https://provegincubator.com">provegincubator.com</a><br />
<a href="https://www.facebook.com/ProVegDE/">###FBICON###</a>
<a href="https://twitter.com/proveg_de?lang=de">###TWICON###</a>
<a href="https://www.instagram.com/proveg.de/?hl=de">###IGICON###</a>
<a href="https://de.linkedin.com/company/vegetarierbund-deutschland-e-v-vebu-">###LIICON###</a>
<a href="https://proveg.com/de/spenden/">###DONATEICON###</a></p>
</span>