<span style="font-family: sans-serif;"><p><b>###NAME###</b><br />
<span style="font-size: smaller;">###TITLE###<br />ProVeg Polska<br />
Telefon ###PHONE###<br/>
###ADDITIONAL###</span><br />
###PVLOGO###</p>

<p style="font-size: smaller; font-style: italic;">ProVeg ma przyjemność zaprosić na konferencję <b> New Food Conference, która odbędzie się w dniach 21-22 marca 2019 r. w Berlinie</b>! Dwudniowe wydarzenie poświęcone będzie tematom "Białka pochodzenia roślinnego" i "Czystego mięsa", skupiając międzynarodowe zainteresowanie branży spożywczej, a także startupy, inwestorów, socjologów i ekologów, jak również media, polityków i organizacje konsumenckie. <b><a href="http://www.proveg.com/new-food-conference">Szczegóły programu</a> oraz możliwość zakupu biletów dostępne są <a href="https://shop.ticketpay.de/O9IGWF3X">tutaj</a></b>.</p>

<p style="font-size: smaller; color: #ABABAB">ProVeg Deutschland e.V.<br />
Genthiner Straße 48, 10785 Berlin, Deutschland<br />
VR 32501 Amtsgericht Berlin</p>

<p><a href="https://pl.proveg.com/">pl.proveg.com</a> | <a href="https://provegincubator.com">provegincubator.com</a><br />
<a href="https://www.facebook.com/ProVegPL/">###FBICON###</a>
<a href="https://twitter.com/ProVeg_Int">###TWICON###</a>
<a href="https://www.instagram.com/proveg.pl/">###IGICON###</a>
<a href="https://de.linkedin.com/company/vegetarierbund-deutschland-e-v-vebu-">###LIICON###</a>
<a href="https://proveg.com/ways-to-give/your-support-think-global-act-local/">###DONATEICON###</a></p>
</span>